/**
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 *  @author    Veebipoed.ee, Holmbank
 *  @copyright 2023 Veebipoed.ee, Holmbank
 *  @license   http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */

 div.payment-option:has(input[data-module-name="holmbank"]) label {
    display: grid !important;
    grid-gap: 5px;
    grid-template-areas: "first second";
    grid-template-columns: fit-content(300px) fit-content(300px);
}

div.payment-option:has(input[data-module-name="holmbank"]) label span {
    grid-area: second;
}

div.payment-option:has(input[data-module-name="holmbank"]) label img {
    grid-area: first;
    min-width: 50px;
    max-height: 20px;
    max-width: 220px;
}

div.holmbank_container {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

div.holmbank_container:has(div.holmbank_logo) {
    margin-top: 20px;
}

div.holmbank_content {
    margin-left: 10px;
}

a.estimation_text {
    font-size: 14px;
    font-weight: 600;
    color: black;
}

span.estimation_text {
    font-size: 14px;
    font-weight: 600;
    color: black;
}

div.holmbank_calculator_description {
    font-size: 11px;
}

div.holmbank_logo img {
    width: 80px;
}